#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Invidious
StartupNotify=true
Icon=/home/kayg/Pictures/Icons/youtube.png
Comment=Most popular video streaming platform
Exec=chromium --user-data-dir=${HOME}/.config/chromium/Apps --app=https://tube.kayg.org/
Terminal=false
Type=Application
MimeType=x-scheme-handler/youtube;
StartupWMClass=invidious
Categories=Audio;Music;Player;AudioVideo;
