#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Deezer
StartupNotify=true
Icon=/home/kayg/Pictures/Icons/deezer.svg
Comment=Deezer audio streaming service
Exec=chromium --user-data-dir=${HOME}/.config/chromium/Apps --app=https://www.deezer.com/
Terminal=false
Type=Application
MimeType=x-scheme-handler/deezer;
StartupWMClass=deezer
Categories=Audio;Music;Player;AudioVideo;
