#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Wire
Comment=The most secure collaboration platform.
Exec=chromium --user-data-dir=$HOME/.config/chromium/Apps --app=https://app.wire.com
Terminal=false
Type=Application
Icon=${HOME}/Pictures/Icons/wire.png
StartupWMClass=Wire
Categories=Network;
GenericName=Secure messenger
Keywords=chat;encrypt;e2e;messenger;videocall
MimeType=x-scheme-handler/wire
Version=1.1
